.no-padding-top{
	padding-top: 0 !important;
}
.no-padding-bottom{
	padding-bottom: : 0 !important;
}
.no-padding-left{
	padding-left: 0 !important;
}
.no-padding-right{
	padding-right: : 0 !important;
}

.form-content{
	padding:0 1.563em;
}

.categories{
	margin-bottom: 4%
}

.select2-container{
	width: 100% !important;
}

.form-group select{
    background: #ededed;	
}

