.no-padding-top{
	padding-top: 0 !important;
}
.no-padding-bottom{
	padding-bottom: : 0 !important;
}
.no-padding-left{
	padding-left: 0 !important;
}
.no-padding-right{
	padding-right: : 0 !important;
}

.form-content{
	padding:0;
}

.categories{
	margin-bottom: 4%
}

.select2-container{
	width: 100% !important;
}

.form-group select{
    background: #ededed;	
}

#uploadPreview{
	max-width: 50%;
}

.dd-list .dd-list {
    padding-left: 1rem;
}

.panel-body{
	padding: 1rem;

.separador{
	border-bottom: 1px solid #dfdfdf !important;
}

#content.table-layout > div, #content.table-layout > section {
    padding-top: 5px !important;
}