.no-padding-top{
	padding-top: 0 !important;
}
.no-padding-bottom{
	padding-bottom: : 0 !important;
}
.no-padding-left{
	padding-left: 0 !important;
}
.no-padding-right{
	padding-right: : 0 !important;
}

.form-content{
	padding:0;
}

.categories{
	margin-bottom: 4%
}

.select2-container{
	width: 100% !important;
}

.form-group select{
    background: #ededed;	
}

#uploadPreview{
	max-width: 50%;
}

.dd-list .dd-list {
    padding-left: 0rem;
}

.panel-body{
	padding: 1rem;

.separador{
	border-bottom: 1px solid #dfdfdf !important;
}

#content.table-layout > div, #content.table-layout > section {
    padding-top: 5px !important;
}

.materialpop{
	margin-bottom: 6rem;
}

.dd-categoria{
	background: rgba(158, 161, 163, 0.58);
    color: black;
}

@media screen and (max-width: 420px) {
    .no-side-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
